<div  id="footer">

    <footer class=" container-fluid" style="background-color: #7eb984;">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4">
            
            <p>
              Feel the freshness of Vegetables for an unbeatable price. <br>

              Copyright © 2022 Safe Food. All Rights Reserved.  <br>

              Safe Food is a registered trademark.  <br>

              Terms of Use | Privacy Policy <br>

              Contact us: contact@safefood.com | +94 76 905 8946  <br>
              
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-3 text-dark">links</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                
                <a href="#row1"style="color: #4f4f4f;">FAQ</a>
              </li>
              <li class="mb-1">
                <a href="#!" style="color: #4f4f4f;">Classes</a>
              </li>
              <li class="mb-1">
                <a href="#!" style="color: #4f4f4f;">Pricing</a>
              </li>
              <li>
                <a href="#!" style="color: #4f4f4f;">Safety</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-1 text-dark">opening hours</h5>
            <table class="table" style="border-color: #666;">
              <tbody>
                <tr>
                  <td>Mon - Fri:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Sat - Sun:</td>
                  <td>8am - 1am</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <!-- Copyright -->
    </footer>
    
  </div>
  <!-- End of .container -->