<body>

    <div class="bck">
        <app-background></app-background>
        <div>
            <div class="bg col-lg-8 col-sm-6 container-fluid"></div>
        </div>
        <div class="container-fluid col-lg-12 "
            style="padding-top: 10px; display: flex; justify-content: space-around;">
           
            <button  ><img src="../../assets/Carrots.jpg" width="100px" height="100px"></button>
            <button  ><img src="../../assets/beans.jpg" width="100px" height="100px"></button>
            <button  ><img src="../../assets/cabbages.jpg" width="100px" height="100px"></button>
            <button  ><img src="../../assets/potatoes.jpg" width="100px" height="100px"></button>
            <button  ><img src="../../assets/pumpkin.jpg" width="100px" height="100px"></button>

        </div>
    </div>
</body>