<body>

    <div class="bck">
        <app-background></app-background>
        <div>
            <div class="bg col-lg-6 col-sm-6 container-fluid"></div>
        </div>
        <div class="container-fluid col-lg-12 "
            style="padding-top: 10px; display: flex; justify-content: space-around;">
            <button routerLink="dashboard" class="m-1 btn btn-light btn-outlinee-primary "
                style="background-color: rgb(8, 81, 39);" Button>Confirm Orders</button>
            <button routerLink="login" class="m-1 btn btn-light btn-outlinee-success "
                style="background-color: rgb(8, 81, 39);" Button>Confirm Delivery</button>
            <button routerLink="login" class="m-1 btn btn-light btn-outlinee-primary "
                style="background-color: rgb(8, 81, 39);" Button>Manage Profile</button>
                <!---->

        </div>
    </div>
</body>