
<app-landing-nav></app-landing-nav>


    <section class="vh-100 gradient-custom " style="padding: 50Px;">

    <div class="container  " > 
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section" style="color: #fcfcfc;"> We Love to here from You.</h2>
                <p style="color: white;">Let us know what needs to be developed.</p>
            </div>
        </div>


        <div class="row justify-content-center" style="background-color: #434443; border: 2px solid; border-radius:2rem;background-color: black;" >
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4" style="text-align: center; color: white;">Tell us what you think</h3>
                                <div id="form-message-warning" class="mb-4"></div> 
                         
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row" >
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name" style="color: white;">Full Name</label>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6"> 
                                            <div class="form-group">
                                                <label class="label" for="email" style="color: white;">Email Address</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject" style="color: white;">Subject</label>
                                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#" style="color: white;">Message</label>
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" style="margin-top:10px">
                                                <input type="submit"  class="btn btn-primary" (Click)="click();">

                                                
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap w-100 p-md-5 p-4" style="background-color: #8c948c; margin-top: 10px; margin-bottom:10px; border-radius: 2rem;" >
                                <h3 style="text-align: center;">Contact Us</h3>
                                <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                        <div class="dbox w-100 d-flex align-items-start">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-map-marker"></span>
                            </div>
                            <div class="text pl-3">
                            <p ><span>Address:  </span> <a style="color:white ">Faculty of Engineering, University of Ruhuna, Hapugala, Galle.</a></p>
                          </div>
                      </div>
                        <div class="dbox w-100 d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-phone"></span>
                            </div>
                            <div class="text pl-3">
                            <p><span>Phone:  </span> <a href="tel://94 769058946" style="color:white ;">+94 769058946</a></p>
                          </div>
                      </div>
                        <div class="dbox w-100 d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-paper-plane"></span>
                            </div>
                            <div class="text pl-3">
                            <p ><span>Email:  </span> <a href="mailto:vegedistro@gmail.com" style="color:white ;">vegedistro@gmail.com</a></p>
                          </div>
                      </div>
                        <div class="dbox w-100 d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="text pl-3">
                            <p><span >Website:  </span> <a href="#" style="color:white ;">vegedistro.com</a></p>
                          </div>
                      </div>
                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>