<app-landing-nav></app-landing-nav>
<div class="jumbotron text-center">

	
    <h1>Online Vegetable Distribution Platform</h1> 
    <p>Fresh Vegetables to your Doorsteps</p> 
    
  </div>
  
  <!-- Container (About Section) -->
  <div id="about" class="container-fluid" >
    <div class="row allign-items-center" >
      <div class="col-sm-8" >
        <h2 >Who are we ?</h2><br>
        <h4>We are a group of undergraduates from the Department of Electrical and Information Engineering, University of Ruhuna. We shared a vision to make it easier for people to buy and sell vegetables online without having the need to go through a middleman. Which will vastly improve the profits of farmers while reducing the cost to buy vegetables.</h4><br>
      </div>
      <div class="col-sm-4">
        <img src="assets/team.jpg">
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid " style="background-color: #9ccc65;">
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/goal.jpg">
      </div>
      <div class="col-sm-8">
        <h2>What is our Goal ?</h2><br>
        <h4>Our Goal is to satisfy our customers by giving them a better user experience while keeping the product costs at a minimum by eliminating middlemen. Which will allow to maximize the profits of the Farmers. </h4><br>
      </div>
    </div>
  </div>
  
  <!-- Container (Services Section) -->
  <div id="values" class="container-fluid text-center ">
    <h2>What do we offer</h2>
    
    <br>
    
      <div class="row " id="row1">

    <div class="col-sm-4 d-flex justify-content-around">
      <div class="card" style="width: 18rem;">
        <img src="assets/delivery.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Fast delivery to your Doorsteps within one day.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 d-flex justify-content-around">
      <div class="card" style="width: 18rem; align-self: center;">
        <img src="assets/vege.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Guaranteed on the freshness of the Vegetables</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 d-flex justify-content-around">
      <div class="card" style="width: 18rem;">
        <img src="assets/friendly.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Freindly Service</p>
        </div>
      </div>
    </div>


  </div>

  <div class="row d-flex justify-content-around" style="justify-content: center; align-content: center; " id="row2">

    <div class="col-sm-4 d-flex justify-content-around" style="justify-content: center; ">
      <div class="card" style="width: 18rem; text-align: center;">
        <img src="assets/stocks.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Price controlling according to the maximum retail prices given by the government.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 d-flex justify-content-around">
      <div class="card" style="width: 18rem; align-self: center;">
        <img src="assets/pred.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Giving predictions for farmers what crop needs to be prioritized based on their sales. </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 d-flex justify-content-around">
      <div class="card" style="width: 18rem;">
        <img src="assets/diet.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Healthy Diet Plan suggestions for users.</p>
        </div>
      </div>
    </div>


  </div>

        
  </div>
  
  