@media(min-width: 576px) {
  .word {

    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: center;
    font-weight: 900;
  }
}

.word {

  font-weight: 900;

}

@media(min-width: 576px) {
  .vl {
    border-left: 5px solid green;
    height: 40px;
  }
}

.v2
{
  margin-left: 10px; 
  margin-right: 10px;
}