
    <div class="container py-5">
      
  
      <div class="row">
        <div class="col-lg-4" >
          <div class="card mb-4" >
            <div class="card-body text-center">
              <img src={{image}} alt="avatar"
                class="rounded-circle img-fluid" style="width: 250px; height: 250px;">
              <h5 class="my-3">{{name}}</h5>
              
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-outline-primary ms-1">Logout</button>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">john</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Last Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">perera</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">john@gmai.com</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">NIC</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">981811692v</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Living City</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Kalutara</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Orders</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{size}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Completed</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">0</p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            
          </div>
        </div>
      </div>
    </div>
    
    <br>
    <br>
 
