
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
  <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content ">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">"aa"</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
          </div>
          <div class="modal-body">
              <app-checkout  ></app-checkout>
          </div>

      </div>
  </div>
</div>


<div class="container-fluid" style="margin-top: 25px;">
    <table class="table">
        <thead class="table table-dark">
          <tr>
            <th scope="col">Index</th>
            <th scope="col">Name</th>
            <th scope="col">Unit price (Rs)</th>
            <th scope="col">Quantity (Kg)</th>
            <th scope="col">Price (Rs)</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <th scope="row">1</th><!--should be binded-->
            <td>Carrot</td>
            <td>240</td>
            <td>5</td>
            <td>1200</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>leeks</td>
            <td>250</td>
            <td>5</td>
            <td>1250</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Beans</td>
            <td>200</td>
            <td>5</td>
            <td>1000</td>
          </tr>
        </tbody>
      </table>
</div>

  
 