<!-- Button trigger modal -->
<div style="padding: 10px;">
    <button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="Addproduct()">
    Add product
  </button>
  </div>
  
  <!--model-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()"></button>
            </div>
            <div class="modal-body">
                <app-add-cat ></app-add-cat>            </div>
  
        </div>
    </div>
  </div>
  
  
  
  
  <div style="margin: 20px;">
  
     
      
      <div style="padding: 10px;">
  
  
        <table class="table table-striped table-hover">
            <thead class="table-dark" style="text-align: center;">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Image</th>
          <th scope="col">Vegetable Name</th>
          <th scope="col">Max Retail Price LKR</th>
          <th scope="col">Last Updated Admin</th>
          <th scope="col">Last Updated Time</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody class="align-middle" style="text-align: center;">
        <tr *ngFor="let dataItem of ProductList">
  
  
          <td>{{dataItem.vegetablesId}}</td>
          <td style="width: 50px;">
            <img src={{dataItem.vegtable_image}} class="img-fluid img-thumbnail" >
          </td>
          <td>{{dataItem.name}}</td>
          <td>{{dataItem.max_control_price_country}}</td>
          <td>{{dataItem.adminId}}</td>
          <td>{{dataItem.last_Updated_Time}}</td>
          
  
          <td>
            <button class="btn"  id="edit" data-bs-toggle="modal" data-bs-target="#exampleModal">
            
            <svg (click)="clickItem(dataItem)"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="margin: 5px; " class="bi bi-pen-fill" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
          </svg>
        </button >
        <button class="btn" id="del" >
          <svg (click)="delete(dataItem)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="margin: 5px;" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>
        </button>
  
          
          
          
      </tr>
     
      </tbody>
    </table>
    <div *ngIf="pro_null" style="text-align: center;font-style: italic;">
  
      <br>
      <h4>No Category!</h4>
      <br>
      <br>
  </div>
  
      </div>