<div class="container py-5">
      
  
    <div class="row">
      <div class="col-lg-4" >
        <div class="card mb-4" >
          <div class="card-body text-center">
            <img src="{{image}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 250px; height: 250px;">
            <h5 class="my-3">{{firstname}}</h5>
            <p class="text-muted mb-1">{{Email}}</p>
            
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-outline-primary ms-1" (click)="loggout()">Logout</button>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{firstname}} {{Lastname}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{Email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
            <hr>
          
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Living City</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{Livingcity}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Deliveries not completed</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{size}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Completed deliveries</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{size2}}</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <br>
  <br>

