<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
  <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content ">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Payment Process</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" ></button>
          </div>
          <div class="modal-body">
              <app-checkout (childEvent)="pays=$event"  ></app-checkout>
          </div>

      </div>
  </div>
</div>


<div class="container" *ngIf="product.length == 0">
    <div class="card">
        <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
        <img class="image container-fluid" src="assets/7077465.png">
        <h4>Your cart is empty!</h4>
        <h6>Add item to it now</h6>
        <button class="btn btn-primary" routerLink="/customer/category-show">shop now</button>
    </div>
</div>
<div class="container" *ngIf="product.length != 0">

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Product</th>
        <th scope="col">Qnt.</th>
        <th scope="col">Price</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of product">
        <td>{{item.vegetableStocksId}}</td>
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.total}}</td>
        <td><button (click)="removeIteam(item)">Delete</button></td>
      </tr>
      <tr>
       
        <td><button class="btn btn-danger" (click)="emptycart()" >Empty cart</button></td>
        <td><button class="btn btn-primary" routerLink="/customer/category-show">Shop more</button></td>
        <td><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >CheckOut</button></td>
        <td>Grand Total :LKR {{grandTotal}}</td>

      </tr>
    </tbody>
  </table>
</div>