.card{
    height: 100vh;
    margin: 25px;
    padding: 25Px;
}

.center img {
    text-decoration: none;
    color:inherit;
    border: none;
    height: 162px;
    width: 250px;
    margin: 20px 10px;
}

.center{
    position: absolute;
    top:65%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

table{
    margin: 25px;
}