<head></head>

<body>
    <div class=" bck" style="height: 658px;" >
        <div class="banner container-fluid "> </div>

        <div>
            <div class="bg col-lg-6 "></div>
        </div>
        <div class="container-fluid" style="padding-top: 10px; display: flex; justify-content: space-around;">
            <button routerLink="dashboard" class="m-1 btn btn-light btn-outlinee-primary" Button>Signup as a
                Farmer</button>



                
            <button routerLink="login" class="m-1 btn btn-light btn-outlinee-primary" Button>Signup as a Buyer</button>
            <button routerLink="login" class="m-1 btn btn-light btn-outlinee-primary" Button>Signup as a
                Courier</button>
        </div>
        
    </div>
</body>