<div class=" d-sm-flex" >
    <form  [formGroup]="form"    >
    
        <div class="row col-sm-12" >
     
            
           
          
    
    
            <label class="col-sm-3 col-form-label " style="padding: 10px;font-weight:500;">To  :</label>
            <label class="col-sm-9 col-form-label" style="padding: 10px;">{{pro.from}}</label>
    
            <label class="col-sm-3 col-form-label " style="padding: 10px;font-weight:500;">From    :</label>
            <label class="col-sm-9 col-form-label" style="padding: 10px;">{{pro.to}}</label>
    
          
           
           
           
    
            
        
            <div class="row col-sm-12">
                <section class="step-wizard">
                    <ul class="step-wizard-list" >
                        <li class="step-wizard-item" [ngClass]="{'current-item':pro.status==0}">
                            <span class="progress-count">1</span>
                            <span class="progress-label">Prpared by Farmer</span>
                        </li>
                        <li class="step-wizard-item " [ngClass]="{'current-item':pro.status==1}">
                            <span class="progress-count">2</span>
                            <span class="progress-label">Assigned the Courier</span>
                        </li>
                        <li class="step-wizard-item" [ngClass]="{'current-item':pro.status==2}">
                            <span class="progress-count">3</span>
                            <span class="progress-label">Delievry on the way</span>
                        </li>
                        <li class="step-wizard-item"  [ngClass]="{'current-item':pro.status==3}">
                            <span class="progress-count">4</span>
                            <span class="progress-label">Delivery Completed</span>
                        </li>
                    </ul>
                </section>
            </div>
        
    
           
    
    
            
            
        </div>
        
    
        </form>
    </div>
    