<div style="margin: 20px;">

    <button type="button" class="btn btn-secondary btn-lg">+add product</button>
</div>
<table class="table" style="margin: 20px;">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Category</th>
        <th scope="col">shiping date</th>
        <th scope="col">remove</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>