

    .gradient-custom{
        /* fallback for old browsers */
        background: #1d5727;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgb(62, 102, 44), rgba(37, 117, 252, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgb(36, 88, 44), rgba(37, 117, 252, 1))
        }
    
        .form-label{
            margin: 2px;
        }